PORT=3000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/core-mining
BOT_TOKEN=123456789:AABBCCDDEEFFaabbccddeeff
JWT_SECRET=your-very-secret-key-change-this
BOT_USERNAME=YourBotUsername
